// Mixins
@import '../Snowdog_Components/components/styles/mixins';

// Variables
@import '../Snowdog_Components/components/Atoms/variables/variables';
@import '../Snowdog_Components/components/Atoms/variables/YOUR_THEME_NAME-variables';

// Components
@import '../Snowdog_Components/components/styles/critical';

// Hide non-critical sections, before loading full stylesheet
.page-main,
.footer,
.breadcrumbs {
    display: none;
}
