/*
  Alter component variables bellow.
  You can find original button variables in:
  vendor/snowdog/theme-frontend-alpaca/Snowdog_Components/components/Molecules/button/_button-variables.scss
*/

$button__text-color: $seafoam-blue;
